/.venv/
### Django ###
*.log
*.pot
*.pyc
.env
__pycache__/
db.sqlite3
staticfiles/
bundles/
media/
**/**/node_modules/
webpack-stats.json
geckodriver.log
.DS_Store
dashboard/node_modules/
dashboard/dist
dashboard/webpack-stats-prod.json
dashboard/webpack-stats.json
package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/dashboard/static/*.json
/venv/
/mediafiles/
*.hot-update.json
*.hot-update.js
/.idea/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/build-prod.bat
/runserver-dev.bat
/sent_emails/
logfile
/frontend/public/media/
/.idea
frontend/.nuxt
frontend/.output
/prod.env
